################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web/DesignTimeBuild
/.vs/web/v16
/web/bin/Debug/netcoreapp3.1
